

<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Moment JS -->
<script src="../bower_components/moment/moment.js" type="text/javascript"></script>

<!-- Full Calendar -->
<script src="../bower_components/fullcalendar/dist/fullcalendar.min.js" type="text/javascript"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!-- Javascript Irrigacao -->
<script src="../js/irrigacao.js" type="text/javascript"></script>


