<div id = "partial_frequencia" class = "" >
    <div class = "form-group" id = "opcoesFrequenciaSemanal" >
        <label > Selecione os dias da semana: < /label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Seg
            </label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Ter
            </label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Qua
            </label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Qui
            </label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Sex
            </label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Sab
            </label>
            <label class = "checkbox-inline" >
                <input type = "checkbox" > Dom
            </label>
    </div>

    < /div>